body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
#messages {
  height: 100px;
  overflow: auto;
}
#view-port {
  background: #fff;
  width: 400px;
  height: 300px;
}
